# Phishing spoofer only works on Linux
# You have to create a SendGrid account (https://app.sendgrid.com/)
# You have to verify your api key in another python console before you use the phishing tool
# Write the following there:
echo "export SENDGRID_API_KEY='Ypur Key'" > sendgrid.env
echo "sendgrid.env" >> .gitignore
source ./sendgrid.env
pip install sendgrid
# Change the sp1derhack.py code change the 1st email to the email you want to look like you sent it from. 2nd email is the targets email.
# 2nd email is the targets email. "hello" is the subject and "test" is the actual message.
